{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "tsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "no-console": "warn",
    "react/prop-types": 0,
    "linebreak-style": ["error", "windows"],
    "prettier/prettier": "warn",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  }
}
